html
  header
    style
    link
  body
    div(style="width:200px;height:200px;color:red")
    div(style={width:'200px',height:'200px',color:'red'})
    div(title='a', class="b")
      ul
        li 88
    div#main.col
    div(class="aa cc ff") 9999
    div(class=['aa', 'cc', 'ff'])
    div(title="abc",id="ff")
    div&attributes({title:'abc',id:'ff'})
  footer
